<turbo-frame id="like-session-<%= @post.id%>">
  <% if @post.likes.exists?(user: current_user) %>
    <%= button_to post_likes_path(@post, @post.likes.find_by(user: current_user)), method: :post, remote: true, clss: "like-button" do %>
      <i class="fas fa-heart style: red;"></i>
    <% end %>
  <% else %>
    <%= button_to post_likes_path(@post), method: :post, remote: true, clss: "like-button" do %>
      <i class="fas fa-heart style: gray;"></i>
    <% end %>
  <% end %>
  <div>
    Likes: <%= @post.likes.count %>
  </div>
</turbo-frame>